<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Enforce HTTPS" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <!-- Uncomment to enforce HTTPS -->
                    <!-- <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" /> -->
                </rule>
                
                <rule name="Protect hidden files" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{URL}" pattern="^\." />
                    </conditions>
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" />
                </rule>

                <rule name="Protect configuration files" stopProcessing="true">
                    <match url="(web\.config|\.env.*|composer\.json|composer\.lock)$" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" />
                </rule>

                <rule name="Route requests to index.php" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?/{R:1}" />
                </rule>
            </rules>
        </rewrite>

        <httpProtocol>
            <customHeaders>
                <add name="X-UA-Compatible" value="IE=Edge" />
                <add name="X-Frame-Options" value="DENY" />
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-XSS-Protection" value="1; mode=block" />
                <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
            </customHeaders>
        </httpProtocol>

        <defaultDocument>
            <files>
                <add value="index.php" />
                <add value="index.html" />
            </files>
        </defaultDocument>

        <directoryBrowse enabled="false" />

        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
        </staticContent>
    </system.webServer>
</configuration>
